<!DOCTYPE html>
<html>
<head>
  <title>Book Details</title>
</head>
  <!-- Display book details -->
  <p>
    <strong>Title:</strong>
    <%= @book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= @book.author %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= number_to_currency(@book.price) %>
  </p>

  <p>
    <strong>Published Date:</strong>
    <%= @book.published_date.strftime("%B %d, %Y") %>
  </p>

  <%= link_to 'Back to Home', books_path %> |
</body>
</html>